# MPlots - Eamonn
> Following Eammon samples of Motif discovery

## Insects

### Download  & convert dataset

In [8]:
from dvats.load import download_file_from_google_drive, unzip_mat, mat2csv, zip_contents
import os

In [4]:
file_id = '1qq1z2mVRd7PzDqX0TDAwY7BcWVjnXUfQ'
data_path = os.path.expanduser('~/data')
destination = os.path.join(data_path, 'InsectData-fig11.zip')

In [12]:
download_file_from_google_drive(file_id, destination)
mat_files = zip_contents(destination)
print(unzip_mat('all', destination, data_path))

/home/macu/data/InsectData-fig11.zip
File downloaded as: /home/macu/data/InsectData-fig11.zip
--> Unzip_mat all /home/macu/data/InsectData-fig11.zip /home/macu/data  True
['Insect_one_million.mat']
['Insect_one_million.mat'] extracted to /home/macu/data

In [13]:
mat_name = mat_files[0]

In [16]:
mat2csv(data_path+"/"+mat_name, print_flag = True)

(1000000, 1)

   Insect_one_million
0            0.236820
1            0.236820
2            0.238040
3            0.206300
4            0.026855

Matlab matrix 'Insect_one_million' converted to CSV in: ~/data/Insect_one_million.csv

In [17]:
import pandas as pd

In [18]:
mat_name = mat_name.split('.')[0]
mat_name

'Insect_one_million'

In [20]:
df = pd.read_csv(data_path+'/'+mat_name+'.csv')

In [21]:
print(df.shape)
display(df.head(5))

(1000000, 1)

   Insect_one_million
0            0.236820
1            0.236820
2            0.238040
3            0.206300
4            0.026855